<a href="https://colab.research.google.com/github/Dipeshgithub1/Statistics-For-Data-Science/blob/main/poissondist.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#consider age of the collage population
#1 class student mean of all the ages

In [8]:
import numpy as np
import pandas as pd
import scipy.stats as stats
from scipy.stats import ttest_1samp
import math
np.random.seed(6)
school_ages = stats.poisson.rvs(loc=18,mu=35,size=1500)
classA_ages = stats.poisson.rvs(loc=18,mu=30,size=60)

In [2]:
school_ages

array([62, 59, 44, ..., 45, 52, 50])

In [3]:
classA_ages

array([52, 46, 40, 40, 47, 50, 51, 45, 44, 52, 46, 53, 43, 44, 51, 50, 54,
       42, 54, 45, 61, 53, 49, 46, 47, 41, 45, 51, 43, 45, 48, 50, 40, 52,
       44, 55, 54, 40, 45, 46, 54, 42, 46, 35, 51, 51, 46, 48, 47, 35, 52,
       52, 39, 44, 48, 40, 42, 46, 47, 45])

In [5]:
classA_ages.mean()

np.float64(46.9)

In [9]:
ttest_1samp(classA_ages, school_ages.mean())

TtestResult(statistic=np.float64(-9.604796510704091), pvalue=np.float64(1.139027071016194e-13), df=np.int64(59))

In [10]:
school_ages.mean()

np.float64(53.303333333333335)